

/********** base styles ************/

section {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans',sans-serif;
	font-weight: 600;
	font-size: 18px;
}

h1 {
	font-family: 'Macondo Swash Caps';
	text-align: center;
}

h2 {
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;
	text-align: center;
}

h3 {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	text-align: center;
}

p {
	text-align: center;
	line-height: 30px;
}

img {
  width: auto;
}

/********** GRID ************/

/*.full-width-center{
	width: 1200px;
	margin: 0 auto!important;
  float: none!important;
}*/

.full-width-center{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  max-width: 1200px;
  margin: auto;
}

.full-width {
  flex-basis: 100%;
}

.half-width {
	flex-basis: 50%;
}

.third-width {
	flex-basis: 33.3333%;
}

.screen-height {
	height: 768px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/******** HEADER *********/
header {
	background: #ff9933;
	height: 100px;
	width: 100%;

	position: fixed;
	top: 0px;
  
  display: flex;
  justify-content: space-between;
}

nav {
	padding-top: 15px;
	padding-left: 30px;
}

nav ul li {
	display: inline-block;
	padding-right: 80px;
}

nav ul li a {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	color: black;
	text-decoration: none;
}

header #header-icons {
	padding-right: 50px;
}

header #header-icons img {
	float: right;
  width: auto;
}

header #hand-1 {
	padding-top: 35px;
	padding-right: 70px;
}

header #hand-2 {
	padding-top: 10px;
	padding-right: 20px;
}

header #hand-3 {
	padding-top: 30px;
	padding-right: 40px;
}

header #hand-4 {
	padding-top: 10px;
}







/********** HOME ***********/
#home {
  padding-top: 100px;
  background-color: #ebebeb;
}

#home .full-width-center {
  margin-top: 0px;
  height: 668px;
  background: url("../img/kids-painting-cover.png") no-repeat;
	background-color: #ebebeb;
	background-position: bottom;
  background-size: contain;
  width: 100%;
}

#home .title {
  align-self: flex-start;
}
#home #title-start {
	font-family: 'Caveat Brush', cursive;
	font-size: 72px;
}

#home #title-middle {
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
}

#home #title-end {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 130px;
}



/********** LOGO SECTION ***********/
#logo-page {
	background-color: #ebebeb;
  padding: 50px 0;
}

#logo-page .full-width-center {
  flex-direction: column;
}

#logo-page img {
	display: block;
	margin: 0 auto ;
	width: 35%;
}

#logo-page h2 {
	margin-bottom: 0;
}

/********** PICTURE ***********/

#page-2 {
	background-color: #ebebeb;
}

#page-2 img {
	width: 100%;
}



/********** ABOUT ***********/
#about {
	background: #ff9933;
  padding: 30px 5px;
}  

#about .about-image-half {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

#about #story {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 2;
  padding: 0 10px;
  flex-basis: 45%;
}




/******* Footer ***********/
footer {
	position: fixed;
	bottom: 0px;
	width: 100vw;
}

#contact-info {
	float: left;
	margin-left: 20px;
}

#address {
	float: right;
	padding-right: 80px;
}

footer ul li {
	font-family: 'Open sans', sans-serif;
	font-size: 20px;

	list-style-type: none;
}

footer ul li a {
  text-decoration: none;
	color: #541022;
}

footer p {
	text-align: right;
	font-size: 20px;
}




/*********** SCREEN SIZE QUERIES *************/

@media only screen and (max-width: 780px) {
  #hand-2 {
    display: none;
  }
  
  nav {
    padding: 0;
  }
  
  #home .full-width-center {
    height: 560px;
  }
  
}
  
@media only screen and (max-width: 600px) {
  .half-width, .third-width {
    flex-basis: 100%;
  }
  
  
  header #header-icons {
    padding-right: 10px;
  }
  
  header #header-icons img {
    width: 25px;
    padding-right: 3px;
    padding-top: 3px;
  }

  #home .full-width-center {
    height: 400px;
  }
  
  #home .full-width-center {
    height: 400px;
  }
    
  #home #title-start {
    font-size: 55px;
  }

  #home #title-middle {
    font-size: 25px;
  }

  #home #title-end {
    font-size: 85px;
  }
  
  #logo-page img {
    width: 50%;
  }
  
  #about #story {
    order: 1;
    padding: 0 4px;
    flex-basis: 100%;
  }
  
  #about .about-image-half {
    order: 2;
  }
}
