

/********** base styles ************/

section {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans',sans-serif;
	font-weight: 600;
	font-size: 18px;
}

h1 {
	font-family: 'Macondo Swash Caps';
	text-align: center;
}

h2 {
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;
	text-align: center;
}

h3 {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	text-align: center;
}

p {
	text-align: center;
	line-height: 30px;
}

/********** GRID ************/

.full-width-center{
	width: 1200px;
	margin: 0 auto!important;
  float: none!important;
}

.full-width {
	width: 1200px;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 398px;
	float: left;
}

.screen-height {
	height: 768px;
}

/******** HEADER *********/
header {
	background: #ff9933;
	height: 73px;
	width: 100vw;

	position: fixed;
	top: 0px;
}

nav {
	float: left;
	height: 100%;
	width: 30%;
}

/*nav ul li {
	display: inline-block;
	padding-right: 80px;
}

nav ul li a {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	color: black;
	text-decoration: none;
}*/

/* drop down meny */
nav .drop-menu-container a, nav .drop-menu-item a {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	color: black;
	text-decoration: none;

	padding: 20px;
	display: block;
}

nav .drop-menu-title a {
	padding: 34px;
}

nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}

nav .drop-menu-container {
	display: inline-block;
	border-right: 2px solid #ffca95;
	width: 100%;
	text-align: center;
}

nav ul li:hover {background: #ff5d1a;}
nav ul li:hover ul {display: block;}

nav .drop-menu {
  position: absolute;
  /*width: 200px;*/
  display: none;

	width: 30%;
	text-align: center;
}

nav .drop-menu-item {
  background: #ff5d1a;
  display: block;
	border-radius: 20px;
	margin-top: 10px;

	width: 100%;
	text-align: center;
}

.drop-menu-item a {
	display:block !important;
}

.drop-menu-item:hover {
	background: #FF0000;
}


/* hand icons */
/* todo: make them spin */
header #header-icons {
	float: right;
	padding-right: 50px;
}

header #header-icons img {
	float: right;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

header #header-icons img:hover {

    -ms-transform: rotate(720deg); /* IE 9 */
		-moz-transform: rotate(720deg); /* Firefox 3.5 */
		-o-transform: rotate(720deg); /* Opera 10.5 */
    -webkit-transform: rotate(720deg); /* Safari 3-8 */
    transform: rotate(720deg);
}


header #hand-1 {
	margin-top: 25px;
	margin-right: 70px;
	width: 40px;
}

header #hand-2 {
	margin-top: 4px;
	margin-right: 20px;
	width: 55px;
}

header #hand-3 {
	margin-top: 6px;
	margin-right: 40px;
	width: 50px;
}

header #hand-4 {
	margin-top: 10px;
	width: 50px;
}







/********** HOME ***********/
#home {
	height: 668px;
	background: url("../img/kids-painting-cover.png") no-repeat;
	background-color: #ebebeb;
	background-position: bottom;
	background-size: 1200px;
	padding-top: 120px;
}


#home #title-start {
	font-family: 'Caveat Brush', cursive;
	font-size: 72px;
}

#home #title-middle {
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
}

#home #title-end {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 130px;
}

#home img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



/********** LOGO SECTION ***********/
#logo-page {
	background-color: #ebebeb;
}

#logo-page img {
	display: block;
	margin: 0 auto ;
	width: 35%;
}

#logo-page h2 {
	margin-bottom: 0;
}

/********** PICTURE ***********/

#page-2 {
	background-color: #ebebeb;
	height: 651.8px;
}

#page-2 img {
	width: 1200px;
}



/********** ABOUT ***********/
#about {
	background: #ff9933;
	padding-top: 50px;
	height: 668px;
}

#about img {
	display: block;
	margin: 60px auto 0 auto;
	width: 50%;
}

#about h2, #about h3, #about p {
	padding-right: 125px;
}

#about h2 {
	margin-top: 100px;
}


/********** Founder ***********/
#founder {
  background: #ffe3c6;
  padding-top: 50px;
  height: 668px;
}

#founder img {
  position: relative;
	width: 200px;
	/*opacity: 0;

	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	-moz-transitioin: opacity 2s;
	transition: opacity 2s;*/
}

/*#founder img:hover {
	opacity: 0;
}*/

#founder #fnd-one {
	left: 100px;
}

#founder #fnd-two {
	top: 130px;
	left: 30px;
}

#founder #fnd-three {
	top: 20px;
	left: 60px;
}

.fade-in {
	opacity: 1;
}






#founder h2, #founder p {
	padding-right: 125px;
}

#about h2 {
	margin-top: 100px;
}


/******* Footer ***********/
footer {
	position: fixed;
	bottom: 0px;
	width: 100vw;
}

#contact-info {
	float: left;
	margin-left: 20px;
}

#address {
	float: right;
	padding-right: 80px;
}

footer ul li {
	font-family: 'Open sans', sans-serif;
	font-size: 20px;

	list-style-type: none;
}

footer ul li a {
  text-decoration: none;
	color: black;
}

footer ul li a:hover {
	color: red;
}

footer p {
	text-align: right;
	font-size: 20px;
}
