/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/********** base styles ************/


html, body {
	font-family: 'Open Sans',sans-serif;
	font-weight: 600;
	font-size: 18px;
  height: 100%;
}

h1 {
	font-family: 'Macondo Swash Caps';
	text-align: center;
}

h2 {
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;
	text-align: center;
}

h3 {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	text-align: center;
}

p {
	text-align: center;
	line-height: 30px;
}

img, figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

::selection{
  background: orange;
}

a:hover {
	color: orange;
}

/********** GRID and Fexbox structure ************/

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -moz-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}


.full-width{
  width: 100%;
	/*max-width: 1200px;*/
}


.half-width {
	width: 100%;
}



/******** HEADER *********/
header {
	background: #ffe3c6;
  border-bottom: 10px solid #ffc17c;
	/*height: 10%;*/
	width: 100%;

	/*position: fixed;
	top: 0px;*/
}

nav {
	float: left;
	height: 100%;
	width: 100%;  /* 30% for desktop */
}

/* drop down meny */
nav .drop-menu-container a, nav .drop-menu-item a {
	font-family: 'Caveat Brush', cursive;
	font-size: 26px;
	color: black;
	text-decoration: none;

	padding: 20px;
	display: block;
}

nav .drop-menu-title a {
	padding: 34px;
}

nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}

nav .drop-menu-container {
	display: inline-block;
	border-right: 2px solid #ffca95;
	width: 100%;
	text-align: center;
}

nav ul li:hover {background: #ff5d1a;}
nav ul li:hover ul {display: block;}

nav .drop-menu {
  position: absolute;
  /*width: 200px;*/
  display: none;

	width: 100%;   /* 30% for desktop */
	text-align: center;
}

nav .drop-menu-item {
  background: #ff5d1a;
  display: block;
	border-radius: 20px;
	margin-top: 10px;

	width: 100%;
	text-align: center;
}

.drop-menu-item a {
	display:block !important;
}

.drop-menu-item:hover {
	background: #FF0000;
}


/* hand icons */
/* todo: make them spin */
header #header-icons {
	float: right;
	padding-right: 50px;
}

header #header-icons img {
	float: right;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

/* the spin part */
header #header-icons img:hover {

    -ms-transform: rotate(720deg); /* IE 9 */
		-moz-transform: rotate(720deg); /* Firefox 3.5 */
		-o-transform: rotate(720deg); /* Opera 10.5 */
    -webkit-transform: rotate(720deg); /* Safari 3-8 */
    transform: rotate(720deg);
}


header #hand-1 {
	margin-top: 25px;
	margin-right: 70px;
	width: 40px;
}

header #hand-2 {
	margin-top: 4px;
	margin-right: 20px;
	width: 55px;
}

header #hand-3 {
	margin-top: 6px;
	margin-right: 40px;
	width: 50px;
}

header #hand-4 {
	margin-top: 10px;
	width: 50px;
}

/********** Background cover images ***********/

main {
  background: url("../img/girl-paint-hands.png") contain no-repeat;
  background: fuchsia;
  /*background: url("../img/kids-painting-cover.png") no-repeat;*/
  /*position: fixed;
*/
}

.scoll-space {
    height: 20px;
}


/********** HOME ***********/
#home {
/*	background: url("../img/kids-painting-cover.png") no-repeat;*/
	/*background-position: bottom;*/
/*	padding-top: 120px;*/

  background: #fff;
}


#home #title-start {
	font-family: 'Caveat Brush', cursive;
	font-size: 72px;
}

#home #title-middle {
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
}

#home #title-end {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 2em;
}

#title-start, #title-middle, #title-end {
  display: block;
}




/********** ABOUT ***********/
#about {
	background: #ffe3c6;
  border: 10px solid #ffc17c;
  border-left: none;
  border-right: none;
/*	padding-top: 50px;*/

#about .about-img figure {
/*	display: block;
	margin: 60px auto 0 auto;*/
	width: 50%;
  display: none;
}
}

/*.about-info h2, .about-info h3, .about-info p {
	padding-right: 125px;
}*/

/*#about h2 {
	margin-top: 100px;
}*/


/********** Founder ***********/
#founder {
  background: #fff;
  padding-top: 50px;
}

.founder-imgs img {
  position: relative;
	width: 200px;
	/*opacity: 0;

	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	-moz-transitioin: opacity 2s;
	transition: opacity 2s;*/
}

/*#founder img:hover {
	opacity: 0;
}*/

#founder #fnd-one {
	left: 80px;
}

#founder #fnd-two {
	top: 140px;
	left: 30px;
}

#founder #fnd-three {
	top: 30px;
	left: 4	0px;
	width: 250px;
}

.fade-in {
	opacity: 1;
}






#founder h2, #founder p {
	padding-right: 125px;
}

#about h2 {
	margin-top: 100px;
}


/******* Footer ***********/
footer {
  border-top: 10px solid #ffe3c6;
  padding: 5% 0;
}

#contact-info {

}

#address {

}

footer ul li {
	font-family: 'Open sans', sans-serif;
	font-size: 20px;

	list-style-type: none;
}

footer ul li a {
  text-decoration: none;
	color: black;
}

/*footer ul li a:hover {
	color: red;
}*/

footer p {
	text-align: right;
	font-size: 20px;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Tablet */
@media screen and (min-width: 768px) {
  .half-width {
    width: 50%;
  }

  nav {
    width: 30%;
  }


  #home {
    margin-bottom: 300px;
  }

  #home #title-start {
  	font-family: 'Caveat Brush', cursive;
  	font-size: 72px;
  }

  #home #title-middle {
  	font-family: 'Caveat Brush', cursive;
  	font-size: 40px;
  }

  #home #title-end {
  	font-family: 'Macondo Swash Caps', cursive;
  	font-size: 2em;
  }

  #title-start, #title-middle, #title-end {
    display: inline;
  }

  .moto h2 {
    font-size: 2.75em;
  }

  /* about */
  #about .about-img figure{
    display: block;
  }
}

/* Desktop */
@media screen and (min-width: 940px) {

}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
